<div >
  <%= comment.body%> <br />
  <%= render partial: 'likes/button', locals: { likeable: comment }%>
 <hr />  
  <%= comment.user.email %><br />
  <% if (comment.updated_at - comment.created_at) > 1 %>
    <span>Edited <%= time_ago_in_words(comment.updated_at) %> ago</span>
  <% else %>
    <span>Posted <%= time_ago_in_words(comment.created_at) %> ago</span>
  <% end %>
  <%if current_user == comment.user %>
     <%= button_to "Delete", [post, comment], method: :delete %>
  <%end%>
</div>
