<div>
<%= likeable.likes.count %> Likes
<% like = get_current_like(likeable)%>
<%if like.nil? %>
 <form action="/likes" method="post">
  <input type="hidden" name="authenticity_token"  value="<%= form_authenticity_token %>">
  <input type="hidden" name="like[likeable_id]" value="<%= likeable.id %>">
  <input type="hidden" name="like[likeable_type]" value="<%= likeable.class.to_s%>">
  <button type="submit" class ="text-primary">
    <i class="fa-solid fa-thumbs-up me-3"></i> 
  </button>
</form>
<%else%>
 <form action="<%= like_path(like) %>" method="post">
  <input type="hidden" name="authenticity_token"  value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class ="text-primary">
    <i class="fa-solid fa-thumbs-down me-3"></i>
  </button>
</form>
<%end%>
</div>
