<%= render @post %>

<div>
<%if @post.user == current_user%>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%end%>
  <%= link_to "Back to posts", posts_path %>
  <%if @post.user == current_user%>
  <%= button_to "Destroy this post", @post, method: :delete %>
  <%end%>
</div> 

<div >
  <%= render 'comments/form', 
    post: @post, 
    comment: @post.comments.build,
    submit_label: "Reply" %>
  
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', 
    post: @post, 
    comment: comment %>
  <% end %>
 
</div>
